@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab:wght@500&family=Source+Serif+Pro&display=swap");
/* font-family: 'Inconsolata', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Source Serif Pro', serif; */

:root {
  --heading-color: #0c0d0e;
  --paragraph-color: #242729;
  --primary-color: #32cd32;
  --primary-color-hover: #2db82d;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading-color);
  font-family: "Roboto Slab", serif;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--paragraph-color);
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

b {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:focus {
  background-color: var(--primary-color-hover);
  border: none;
  outline: none;
}

.section-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .section-margin {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.login-box {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  padding: 80px 40px;
}

input:focus {
  border: none;
  border-left: 8px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: none;
}

button {
  width: 100%;
  margin-top: 20px;
}

.content {
  padding: 20px;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .content {
      padding: 10px;
      margin-right: 0px;
  }
}

.social-media-icons {
  margin-top: 10px;
  margin-bottom: 35px;
}

.social-media-icons i {
  color: var(--primary-color);
} 