@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab:wght@500&family=Source+Serif+Pro&display=swap");
/* font-family: 'Inconsolata', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Source Serif Pro', serif; */

:root {
	--heading-color: #0c0d0e;
	--paragraph-color: #242729;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--heading-color);
  font-family: 'Roboto Slab', serif;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--paragraph-color);
  font-family: 'Source Serif Pro', serif;
}

.section-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .section-margin {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
